header, footer {
  height: 60px;
}
.form-control {
  width: 300px;
}

label, button {
  margin: 20px 0px 20px 0px;
}

.pink {
  background-color: #FDE7E2;
  padding: 20px;
  display: none;
}

.jumbotron {
  background-color: #EBF0EE;
}